@use '../functions/textDecoration' as *;
@use '../functions/gap' as *;
@use '../functions/ui' as ui;
// bootstrap accordion
@mixin style1 {
  .accordion {
    &-header {
      &-main {
        padding-right: 20px;
        align-self: center;
      }
      &-title {
        font-size: 20px;
        font-weight: bold;
      }
      &-description {
        margin-top: 16px;
        display: none;
        color: var(--text4);
        font-size: 16px;
      }
    }
    &-button {
      padding: 28px 0;
      position: relative;
      align-items: flex-start;
      color: var(--black-out);
      box-shadow: none;

      &:after {
        width: 28px;
        height: 28px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28'%3E%3Cg%3E%3Cpath fill='%23ccc' d='M8.642 12.916L.473 3.266A2.055 2.055 0 0 1 .595.508a1.731 1.731 0 0 1 2.568.131L12.444 11.6a2.06 2.06 0 0 1 0 2.626L3.163 25.194a1.731 1.731 0 0 1-2.568.131 2.055 2.055 0 0 1-.122-2.758z' transform='translate(28) rotate(90) translate(7.083 1.167)'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      &:not(.collapsed) {
        background-color: transparent;
        border: none;
        box-shadow: inset 0 -1px 0 var(--steam);
      }
    }

    // body
    &-body {
      padding: 28px 0;

      &-header {
        display: flex;
        margin-bottom: 28px;
        .text-underline {
          color: var(--text0);
          font-size: 18px;
          font-weight: bold;
          line-height: 1;
          @include textDecoration(var(--bg0), var(--text0), 1px);
        }
      }
      &-list {
        position: relative;
        @include ui.reset-list;
        margin-bottom: 8px;

        &:after {
          content: '';
          display: block;
          position: absolute;
          width: 1px;
          height: calc(100% - 32px);
          background-color: var(--steam);
          left: 6px;
          top: 50%;
          transform: translate(-50%, -50%);
        }
        &-item {
          position: relative;
          padding-left: 20px;
          z-index: 2;
          font-size: 16px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: var(--text4);

          &:not(:last-child) {
            margin-bottom: 24px;
          }
          &:after {
            content: '';
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 999px;
            border: 2px solid #aaa;
            background-color: var(--bg0);
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
          }
          &.done {
            color: var(--text2);
            &:after {
              border: none;
              background-color: var(--blue-ruin);
            }
            .link {
              border-color: var(--cerebral-grey);
              background-color: var(--super-silver);
              color: var(--text3);
            }
          }
          &.current {
            color: var(--blue-ruin);
            &::after {
              border-color: var(--blue-ruin);
            }
            .link {
              border-color: var(--blue-ruin);
              background-color: var(--bg0);
              color: var(--blue-ruin);
            }
          }

          .title {
            font-size: 16px;
            padding-top: 2px;
            color: currentColor;
          }
          .link {
            text-decoration: none;
            padding: 9px 15px 7px;
            color: var(--text2);
            border: 1px solid var(--dhusar-grey);
            border-radius: 2px;
          }
        }
      }
    }
    &-info {
      padding-bottom: 28px;
      border-bottom: 1px solid var(--black-out);
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      &-left {
        display: flex;
        align-items: center;
        @include gap(20px);
      }
      &-right {
        display: flex;
        align-items: center;
        font-size: 18px;
      }
      &-thumbnail {
        img {
          height: 100px;
        }
      }
      &-title {
        font-size: 2.5rem;
        @include textDecoration;
        color: var(--black-out);
        font-weight: bold;
      }
    }
  }
  // active
  .accordion-button:not(.collapsed) .accordion-header {
    &-description {
      display: block;
      max-width: 425px;
    }
  }
}
