.bar {
  &-container {
    display: flex;
    justify-content: space-between;
  }
  &-top {
    position: fixed;
    z-index: 9000;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--cerulean-blue);
    padding-top: 10px;
    padding-bottom: 10px;
    [class*='logo'] svg {
      fill: #fff;
    }
  }
  &-search {
    --paddingX: 20px;
    --icon-width: 20px;
    position: relative;
    max-width: 300px;
    &-submit {
      background-color: transparent;
      box-shadow: none;
      outline: none;
      border: none;
      padding: 0;
      display: block;
      width: 20px;
      height: 20px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cdefs%3E%3Cstyle%3E .cls-2%7Bfill:none;stroke:%23006ddb;stroke-linecap:round;stroke-width:2px%7D %3C/style%3E%3C/defs%3E%3Cg id='icon20_SR' transform='translate(2 2)'%3E%3Cg id='타원_4' class='cls-2'%3E%3Ccircle cx='7.5' cy='7.5' r='7.5'/%3E%3Ccircle cx='7.5' cy='7.5' r='6.5' fill='none'/%3E%3C/g%3E%3Cpath id='선_4' d='M0 0L2.758 2.758' class='cls-2' transform='translate(12.409 12.409)'/%3E%3C/g%3E%3C/svg%3E%0A");
      position: absolute;
      right: var(--icon-width, 20px);
      top: 50%;
      transform: translateY(-50%);
    }
    &-input {
      outline: none;
      border: none;
      width: 100%;
      line-height: 1;
      border-radius: 999px;
      border: solid 1px var(--very-light-pink);
      padding: 10px var(--paddingX, 20px);
      padding-right: calc(var(--paddingX, 20px) * 2 + var(--icon-width, 20px));
      transition: border-color 0.2s;
      color: var(--text4);
      &::placeholder {
        color: var(--text0);
      }
      &:focus,
      &:valid {
        border: solid 1px var(--cerulean-blue);
      }
    }
  }
}
