.fnb {
  background-color: var(--fnb-bg);
  color: var(--fnb-color);

  @include media-breakpoint-down(sm) {
    text-align: center;
  }

  &-container {
    padding-top: 34px;
    padding-bottom: 34px;
    > .row > [class*='col'] {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  &-list {
    &-logo {
      @include reset-list;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;

      @include media-breakpoint-down(sm) {
        justify-content: center;
      }

      @supports (gap: 40px) {
        column-gap: 40px;
        row-gap: 28px;
        margin-bottom: 28px;
      }
      @supports not (gap: 40px) {
        > li {
          margin-bottom: 28px;
        }
        > li:not(:last-child) {
          margin-right: 40px;
        }
      }
    }

    &-info {
      @include reset-list;
      display: flex;
      flex-wrap: wrap;
      font-size: 13px;
      position: relative;
      margin-bottom: 20px;

      @include media-breakpoint-down(sm) {
        justify-content: center;
      }

      @supports (gap: 8px) {
        column-gap: 8px;
        > li:not(:last-child) {
          padding-right: 8px;
        }
      }
      @supports not (gap: 8px) {
        > li:not(:last-child) {
          margin-right: 8px;
        }
      }
      a {
        color: var(--fnb-color);
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      > li:not(:last-child) {
        position: relative;
        &:after {
          content: '';
          display: block;
          position: absolute;
          background-color: var(--fnb-border);
          width: 1px;
          height: 1em;
          top: 50%;
          right: 0;
          transform: translate(100%, -50%);
        }
      }
    }

    &-pagenav {
      @include reset-list;

      --px: 36px;

      @include media-breakpoint-up(xl) {
        padding-left: var(--px);
        padding-right: var(--px);
      }

      > li:not(:last-child):not([class*='title']) {
        margin-bottom: 2px;
      }
      a {
        color: var(--fnb-color);
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      &-wrap {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        @supports (gap: 60px) {
          column-gap: 60px;
        }
        @include media-breakpoint-down(sm) {
          justify-content: center;
        }
        @include media-breakpoint-up(xl) {
          justify-content: space-between;
          column-gap: 0;
        }
        > .fnb-list-pagenav {
          @include media-breakpoint-down(xl) {
            @supports not (gap: 60px) {
              &:not(:last-child) {
                margin-right: 60px;
              }
            }
          }
          @include media-breakpoint-up(xl) {
            border-left: 1px solid var(--fnb-border);
          }
        }
      }

      &-title {
        font-size: 14px;
        font-weight: bold;
        font-family: AppleSDGothicNeo;
        font-weight: 600;
        margin-bottom: 16px;
        padding-top: 10px;
        color: var(--text2);
      }
    }
  }
}
