@at-root {
  :root {
    --barGnbHeight: 85px;
  }
}

.gnb {
  &-container {
    display: flex;
    padding-top: 23px;
    padding-bottom: 23px;
    align-items: center;
    justify-content: space-between;

    &-right {
      justify-self: flex-end;
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }

  // menu
  &-menu {
    @include reset-list;
    display: flex;
    align-items: center;
    margin-left: -0.5rem;
    margin-right: -0.5rem;

    > li:not(:last-child) {
      margin-right: 20px;
    }
    &-item {
      text-decoration: none;
      font-size: 1.125rem;
      padding: calc(0.25rem + 1px) 0.5rem 0.25rem;
      color: var(--text0, #000);
    }
  }

  // active item
  .active {
    color: var(--blue-ruin);
  }

  // GNB submenu
  &-submenu {
    border: none;
    border-radius: 0;
    border-top: 8px solid var(--blueberry-twist);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 20px !important;
    width: 200px;

    .dropdown-item {
      padding-left: 24px;
      padding-right: 24px;
    }
    > li {
      margin-top: calc(14px - 0.25rem);
      margin-bottom: calc(30px - 0.5rem);
    }
    &-btn {
      background-color: transparent;
      border: none;
      box-shadow: none;
      outline: none;
      display: flex;
      align-items: center;
      padding: 0.25rem 0.5rem;

      span {
        padding-top: 1px;
        margin-right: 8px;
      }
      &:after {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='iocn16_arr_down' width='16' height='16' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E .cls-2%7Bfill:none;stroke:%23707070;stroke-linecap:round;stroke-width:2px%7D %3C/style%3E%3C/defs%3E%3Cg id='그룹_89' transform='translate(4 7)'%3E%3Cpath id='선_19' d='M0 0L4 4' class='cls-2'/%3E%3Cpath id='선_20' d='M4 0L0 4' class='cls-2' transform='translate(4)'/%3E%3C/g%3E%3C/svg%3E%0A");
      }
      &.disable_arrow:after {
        content: none;
      }
    }
    &-list {
      @include reset-list;
      margin-top: 0.75rem;
    }
    &-title {
      &-1 {
        font-size: 1.14em;
        font-weight: 600;
      }
    }
  }

  // search
  &-search {
    width: 300px;
  }

  // personal menu
  &-personal {
    @include reset-list;
    display: flex;
    &-item {
      padding: 0.25rem 20px;
      position: relative;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      &:not(:last-child):after {
        content: '';
        display: block;
        position: absolute;
        height: 24px;
        width: 1px;
        right: 0;
        top: 50%;
        background-color: var(--very-linght-pink, #ddd);
        transform: translate(50%, -50%);
      }
    }
    &-noti {
      svg {
        fill: #615b5f;
      }
      .bell {
        opacity: 0;
        transition: opacity 0.3s;
      }
      &.on .bell {
        opacity: 1;
      }
      .noti {
        &-submenu {
          padding: 0;
        }
        &-item {
          padding: 16px 24px;
          margin: 0;
          &:not(:last-child) {
            border-bottom: 1px solid var(--super-silver);
          }
        }
        &-header {
          font-size: 16px;
          color: var(--black-out);
          margin-bottom: 8px;
        }
        &-content {
          color: var(--text3);
          a {
            color: var(--blue-ruin);
          }
          .history,
          b {
            color: var(--text0);
          }
        }
      }
    }
    &-account {
      svg {
        fill: #615b5f;
      }

      // 로그인되지 않았을때 서브메뉴 스타일
      .dropdown-menu {
        padding: 0;
      }
      .dropdown-menu > li {
        margin-bottom: 0;
        margin-top: 0;
        &:not(:last-child) {
          border-bottom: 1px solid var(--super-silver);
        }
        > .dropdown-item {
          padding-top: 16px;
          padding-bottom: 16px;
          font-size: 16px;
          font-weight: 600;
        }
      }
      .card-user {
        padding: 16px 24px;
        --gap: 8px;
        &-thumbnail {
          .imgWrap {
            width: 40px;
            height: 40px;
          }
          &:after {
            content: none;
          }
        }
        &-name {
          font-size: 16px;
        }
        &-edit a {
          color: var(--text4);
        }
      }
      .gnb-submenu-list {
        margin-top: 16px;
        margin-bottom: 16px;
        .dropdown-item:hover {
          background-color: transparent;
        }
      }
    }
  }
}
