.signup {
  .section {
    margin-top: 80px;
  }
  &-tab {
    margin-bottom: 60px;
    .btn {
      font-size: 24px;
      padding-top: 22px;
      padding-bottom: 21px;
    }
  }
  &-content {
    padding-top: 60px;
    border-top: 1px solid var(--black-out);
    border-bottom: 1px solid var(--black-out);
    margin-bottom: 52px;
    .btn.tool {
      border: solid 1px var(--steam);
    }
    > .input-label {
      margin-bottom: 28px;
      font-size: 18px;
      justify-content: center;
      align-items: flex-start;
      .unit {
        display: flex;
        align-items: center;
      }
      > span {
        color: var(--text2);
        padding-top: 15px;
        font-weight: bold;
      }
      [required] + span:not([class]):after {
        content: '*';
        margin-left: 8px;
        color: var(--blue-ruin);
        font-size: 1.2em;
        vertical-align: text-top;
      }
    }

    > .input-label > :first-child {
      max-width: 610px;
      width: 100%;
      align-items: stretch;
    }
  }
  &-consent {
    padding-top: 52px;
    padding-bottom: 52px;
    background-color: var(--whiteout);
    border-top: 1px solid var(--steam);
    margin-top: 61px;
    &-list {
      @include reset-list;
      max-width: 780px;
      margin: auto;
    }
  }
  &-footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
