.bar {
  @import './search';
  @import './pageheader';
  @import './class_cat';
  @import './class_single';
  @import './top';
  @import './breadcrumbs';
  @import './account';
  @import './page';

  &-container {
    display: flex;
    justify-content: space-between;
  }
  &-main {
    position: absolute;
    width: 100%;
    top: 100%;
    background-color: var(--bg0);
    z-index: 900;
  }
  &-bg {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}
