&-header {
  font-size: 2.5rem;
  margin-bottom: 32px;
  color: var(--text1);
  font-weight: bold;
}

&-list {
  @include reset-list;
  border-top: 1px solid var(--black-out);
  border-bottom: 1px solid var(--tin);
}
&-item {
  padding-top: 48px;
  padding-bottom: 48px;
  &:not(:last-child) {
    border-bottom: 1px solid var(--steam);
  }
  &-row {
    margin-bottom: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-content {
    font-size: 18px;
    max-width: 900px;
    margin-right: 28px;
    color: var(--text3);
    > :last-child {
      margin-bottom: 0;
    }
  }
  &-date {
    font-size: 16px;
    color: var(--dhusar-grey);
  }
  &-tool {
    display: flex;
    @include gap(8px);
    color: var(--text1);
    padding: 8px;

    #{$iconSize} {
      font-size: 20px;
    }
    .icon-label {
      font-weight: 500;
      font-size: 16px;
    }
  }
}
