& {
  .container {
    @include media-breakpoint-up(sm) {
      padding-bottom: 160px;
    }
  }
  .card {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid var(--black-out);
    border-bottom: 1px solid var(--tin);
    padding-top: 72px;
    padding-bottom: 72px;
    text-align: center;
    &-title {
      font-size: 36px;
      margin-bottom: 16px;
      color: var(--text1);
    }
    &-content {
      font-size: 18px;
      color: var(--text4);
      margin-bottom: 32px;
      word-break: keep-all;
      > :last-child {
        margin-bottom: 0;
      }
    }
    &-footer {
      all: unset;
      font-size: 20px;
      .btn {
        background-color: var(--theatre-blue);
      }
    }
  }
}
