main {
  // GNB, bar-top margin
  --barHeight: calc(var(--barGnbHeight) + var(--barTopHeight));
  margin-top: var(--barHeight);
  padding-top: var(--barPageheaderHight, 0);
  transition: padding-top 0.3s ease-in-out, margin-top 0.3s ease-in-out;
}
