&-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  svg {
    transform: rotate(270deg);
  }
  circle {
    transition: stroke-dashoffset 1s linear;
    stroke-linecap: round;

    &:nth-child(1) {
      stroke-width: 2px;
      stroke: var(--simple-serenity);
    }
    &:nth-child(2) {
      stroke-width: 6px;
      stroke: var(--blue-ruin);
    }
  }
  .label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: var(--text2);
    line-height: 1;

    --gap: 10px;
    @supports (gap: var(--gap)) {
      gap: var(--gap);
    }
    @supports not (gap: var(--gap)) {
      > *:not(:last-child) {
        margin-bottom: var(--gap);
      }
    }
  }
  .value {
    color: var(--text1);
    font-size: 1.75em;
  }
}
