.input {
  @import './search';

  &-item {
    border: 1px solid var(--steam);
    border-radius: 2px;
    transition: border-color 0.3s;
    font-size: 18px;
    color: var(--text1);
    padding: 16px 24px;
    border-radius: 2px;
    line-height: 1.6;
    outline: none;
    min-width: 0;

    &::placeholder {
      color: var(--text4);
    }
    &:focus {
      border-color: var(--black-out);

      &::placeholder {
        color: var(--text1);
      }
    }
  }
  &-grid {
    @include gap(12px, y);
    display: flex;
  }
  &-inputWrap {
    display: flex;
    flex-direction: column;
    @include gap(12px);
    width: 100%;
    &.email {
      flex-direction: row;
      align-items: center;
      input {
        width: 100%;
      }
    }
  }
  &-label {
    display: flex;
    align-items: center;
    @include gap(8px);
    &.left {
      > label {
        order: -1;
        width: 162px;
      }
    }
  }
  &-description {
    color: var(--text4);
  }
}
