@mixin textDecoration($bg: var(--bg0), $color: currentColor) {
  $size: 1px;
  // box-shadow & text-shdaow를 이용한 text-decoration 구성
  // 참고: https://codepen.io/999hyeon/pen/QWpVOgL
  text-shadow: -#{$size} -#{$size} #{$bg}, -#{$size} #{$size} #{$bg},
    #{$size} -#{$size} #{$bg}, #{$size} #{$size} #{$bg};
  box-shadow: inset 0 -0.05em #{$bg}, inset 0 -0.1em #{$color};
  display: inline;
}
