html {
  font-size: 14px;
}

body {
  font-family: '애플 SD 산돌고딕 Neo', 'Apple SD Gothic Neo', '돋움', dotum,
    AppleGothic, sans-serif;
  line-height: 1.6;
  color: var(--text3);
}

span.primary {
  color: var(--blue-ruin);
}
