:root {
  --text0: #000000;
  --text1: #222222;
  --text2: #444444;
  --text3: #666666;
  --text4: #888888;
  --text5: #aaaaaa;

  --bg0: #ffffff;

  // FNB
  --fnb-bg: #efefef;
  --fnb-border: #cccccc;
  --fnb-color: var(--text4);
}
