$base: (
  text0: #000000,
  text1: #222222,
  text2: #444444,
  text3: #666666,
  text4: #888888,
  text5: #aaaaaa,
  invert-text0: #ffffff,
  bg0: #ffffff,
  invert-bg0: #000000,
  // FNB
  fnb-bg: #efefef,
  fnb-border: #cccccc,
  // fnb-color: var(--text4),
);

:root {
  @include generate_colors($base);
  --fnb-color: var(--text4);
}
