.home {
  $gp: &;

  @mixin title {
    font-weight: 300;
    font-size: 40px;
    strong {
      font-size: 48px;
    }
  }

  // 섹션 공용
  .section {
    margin-bottom: 120px;
  }
  // section
  .hero {
    @import './hero-section';
  }
  .s1 {
    @import './section1';
  }
  .s2 {
    @import './section2';
  }
  .s3 {
    @import './section3';
  }
}
