& {
  overflow: hidden;
}

.main {
  max-width: 420px;
  &-title {
    @include title;
    position: relative;
    padding-top: 67px;
    padding-bottom: 67px;
    margin-top: 0;
    color: var(--invert-text0);

    &:after {
      --x: calc(-100% + var(--heroImgW));
      content: '';
      display: block;
      position: absolute;
      width: 100vw;
      height: 100%;
      left: 0;
      top: 0;
      z-index: -1;
      transform: translate(var(--x), 0);
      background-color: var(--theatre-blue);
    }
  }
}

.class {
  &-card {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
    .rating-star {
      font-size: 24px;
      margin-bottom: 40px;
    }
  }
  &-link {
    color: var(--theatre-blue);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
  }
  &-title {
    font-size: 38px;
    @include textDecoration(var(--theatre-blue));
  }
  &-content {
    margin-bottom: 48px;
  }
  &-readmore {
    background-color: var(--black-out);
    border-radius: 0;
    color: var(--invert-text0);
    padding: 20px 78px;
    font-size: 20px;
  }
}

.video {
  display: flex;
  align-items: flex-end;
  video {
    max-width: 100%;
    margin-bottom: 0;
  }
  &-wrap {
    position: relative;
    font-size: 0;
  }
  &-overlay {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    color: var(--invert-text0);
    background-color: rgba(var(--RGB-invert-bg0), 0.5);
    &-control {
      display: flex;
      flex-direction: column;
      align-items: center;
      @supports (gap: 16px) {
        gap: 16px;
      }
      @supports not (gap: 16px) {
        > *:not(:last-child) {
          margin-bottom: 16px;
        }
      }
      svg {
        fill: var(--invert-text0);
        stroke: var(--invert-text0);
      }
    }
    &-text {
      font-size: 20px;
      @include textDecoration(var(--invert-text0));
    }
  }
}
